<main id="main" role="main">
        
    <!--     Moved here by ST Team     -->  
    
    <div id="shopify-section-announcement-bar" class="shopify-section"><section class="announcement-bar">

<p>India’s 1st complete product range to be certified organic by ECOCERT&nbsp;(France) in accordance with COSMOS v3 standards</p>

</section>


</div>
    
      
      
      <div id="shopify-section-cart-template" class="shopify-section shopify-section--bordered"><section data-section-id="cart-template" data-section-type="cart" data-section-settings="{
&quot;type&quot;: &quot;drawer&quot;,
&quot;itemCount&quot;: 2,
&quot;drawer&quot;: false,
&quot;hasShippingEstimator&quot;: false
}"><div class="Container">
    <header class="PageHeader">
      <div class="SectionHeader SectionHeader--center">
        <h1 class="SectionHeader__Heading Heading u-h1">You're one step away!!</h1></div>
    </header>

    <div class="PageContent">
      <form action="/cart" method="POST" class="Cart Cart--expanded" novalidate="">
        <input type="hidden" name="attributes[collection_mobile_items_per_row]" value="">
        <input type="hidden" name="attributes[collection_desktop_items_per_row]" value="">

        <div class="Cart__ItemList"><div class="Cart__Head hidden-phone">
    <span class="Cart__HeadItem Heading Text--subdued u-h7">Product</span>
    <span class="Cart__HeadItem"></span>
    <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: center">Quantity</span>
    <span class="Cart__HeadItem Heading Text--subdued u-h7" style="text-align: right">Total</span>
  </div><div class="CartItem">
    <div class="CartItem__ImageWrapper AspectRatio">
      <div class="AspectRatio" style="--aspect-ratio: 1.0">
        <img class="CartItem__Image" src="//cdn.shopify.com/s/files/1/0058/7779/2832/products/Chilli_Horsetail_BlackSeed_240x.png?v=1589888772" alt="Chilli, Horsetail &amp; Black Seed Hair Oil - juicychemistry">
      </div>
    </div>

    <div class="CartItem__Info">
      <h2 class="CartItem__Title Heading">
        <a href="/products/chilly-horsetail-black-seed-hair-oil?variant=31669369962560"><span class="so-offer-title_31669369962560">Chilli, Horsetail &amp; Black Seed Hair Oil</span></a>
      </h2>

      <div class="CartItem__Meta Heading Text--subdued"><p class="CartItem__Variant">30 ML</p><div class="CartItem__PriceList"><span class="CartItem__Price Price" data-money-convertible=""><span class="so-unit-price_31669369962560"><span class="money" doubly-currency-inr="78750" doubly-currency="INR">₹ 788</span></span></span></div>
      </div><div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
          <div class="CartItem__QuantitySelector">
            <div class="QuantitySelector"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 0" href="/cart/change?quantity=0&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-quantity="0" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="update-item-quantity"><svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
    <path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
  </svg></a>

              <input type="text" name="updates[31669369962560:e1588986eaf933eb799c828b3ef1d6c8]" id="updates_31669369962560:e1588986eaf933eb799c828b3ef1d6c8" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" value="1"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 2" href="/cart/change?quantity=2&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-quantity="2" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="update-item-quantity"><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
    <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M8,1 L8,15"></path>
      <path d="M1,8 L15,8"></path>
    </g>
  </svg></a>
            </div>
          </div>

          <a href="/cart/change?quantity=0&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="remove-item">Remove</a>
        </div>
    </div><div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
          <div class="CartItem__QuantitySelector">
            <div class="QuantitySelector"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 0" href="/cart/change?quantity=0&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-quantity="0" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="update-item-quantity"><svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
    <path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
  </svg></a>

              <input type="text" name="updates[31669369962560:e1588986eaf933eb799c828b3ef1d6c8]" id="updates_31669369962560:e1588986eaf933eb799c828b3ef1d6c8" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" value="1"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 2" href="/cart/change?quantity=2&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-quantity="2" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="update-item-quantity"><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
    <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M8,1 L8,15"></path>
      <path d="M1,8 L15,8"></path>
    </g>
  </svg></a>
            </div>
          </div>

          <a href="/cart/change?quantity=0&amp;id=31669369962560:e1588986eaf933eb799c828b3ef1d6c8" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="31669369962560:e1588986eaf933eb799c828b3ef1d6c8" data-action="remove-item">Remove</a>
        </div>

      <span class="CartItem__LinePrice Price Heading Text--subdued u-h7" data-money-convertible="" style="text-align: right"><span class="so-line-price_31669369962560"><span class="money" doubly-currency-inr="78750" doubly-currency="INR">₹ 788</span></span></span></div><div class="CartItem">
    <div class="CartItem__ImageWrapper AspectRatio">
      <div class="AspectRatio" style="--aspect-ratio: 1.0">
        <img class="CartItem__Image" src="//cdn.shopify.com/s/files/1/0058/7779/2832/products/8.OilySkinType_240x.jpg?v=1602766186" alt="OILY SKIN TYPE - juicychemistry">
      </div>
    </div>

    <div class="CartItem__Info">
      <h2 class="CartItem__Title Heading">
        <a href="/products/oily-skin-type-with-soap?variant=31441435230272"><span class="so-offer-title_31441435230272">OILY SKIN TYPE</span></a>
      </h2>

      <div class="CartItem__Meta Heading Text--subdued"><div class="CartItem__PriceList"><span class="CartItem__Price Price" data-money-convertible=""><span class="so-unit-price_31441435230272"><span class="money" doubly-currency-inr="425000" doubly-currency="INR">₹ 4,250</span></span></span></div>
      </div><div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
          <div class="CartItem__QuantitySelector">
            <div class="QuantitySelector"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 0" href="/cart/change?quantity=0&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" data-quantity="0" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="update-item-quantity"><svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
    <path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
  </svg></a>

              <input type="text" name="updates[31441435230272:06215d2a5240345cee588c7427ab8ee6]" id="updates_31441435230272:06215d2a5240345cee588c7427ab8ee6" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" value="1"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 2" href="/cart/change?quantity=2&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" data-quantity="2" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="update-item-quantity"><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
    <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M8,1 L8,15"></path>
      <path d="M1,8 L15,8"></path>
    </g>
  </svg></a>
            </div>
          </div>

          <a href="/cart/change?quantity=0&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="remove-item">Remove</a>
        </div>
    </div><div class="CartItem__Actions Heading Text--subdued" style="text-align: center">
          <div class="CartItem__QuantitySelector">
            <div class="QuantitySelector"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 0" href="/cart/change?quantity=0&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" data-quantity="0" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="update-item-quantity"><svg class="Icon Icon--minus" role="presentation" viewBox="0 0 16 2">
    <path d="M1,1 L15,1" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square"></path>
  </svg></a>

              <input type="text" name="updates[31441435230272:06215d2a5240345cee588c7427ab8ee6]" id="updates_31441435230272:06215d2a5240345cee588c7427ab8ee6" class="QuantitySelector__CurrentQuantity" pattern="[0-9]*" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" value="1"><a class="QuantitySelector__Button Link Link--primary" title="Set quantity to 2" href="/cart/change?quantity=2&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" data-quantity="2" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="update-item-quantity"><svg class="Icon Icon--plus" role="presentation" viewBox="0 0 16 16">
    <g stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
      <path d="M8,1 L8,15"></path>
      <path d="M1,8 L15,8"></path>
    </g>
  </svg></a>
            </div>
          </div>

          <a href="/cart/change?quantity=0&amp;id=31441435230272:06215d2a5240345cee588c7427ab8ee6" class="CartItem__Remove Link Link--underline Link--underlineShort" data-quantity="0" data-line-id="31441435230272:06215d2a5240345cee588c7427ab8ee6" data-action="remove-item">Remove</a>
        </div>

      <span class="CartItem__LinePrice Price Heading Text--subdued u-h7" data-money-convertible="" style="text-align: right"><span class="so-line-price_31441435230272"><span class="money" doubly-currency-inr="425000" doubly-currency="INR">₹ 4,250</span></span></span></div></div><div class="doubly-message" style="display: none;">All orders are processed in INR. While the content of your cart is currently displayed in <span class="selected-currency">INR</span>, you will checkout using INR.</div>

        <footer class="Cart__Footer"><div class="Cart__NoteContainer">
              <span class="Cart__NoteButton">100% PURCHASE PROTECTION</span>
              <textarea class="Cart__Note Form__Textarea" name="note" id="cart-note" rows="4" placeholder="How can we help you?"></textarea>
            </div><div class="Cart__Recap"><span class="Cart__Total Heading u-h6">Total: <span data-money-convertible=""><span class="so-offer-cart-total"><span class="ufe-cart-total-price"><span class="money" doubly-currency-inr="503750" doubly-currency="INR">₹ 5,038</span></span></span></span></span><div class="agree_conditions_shipping">
                <div class="termsconditionscheck">
                  <input type="checkbox" id="agree_conditions" value="agree_shipment" name="agree_conditions">
                </div>
                <label class="agree_conditions_label" for="agree_conditions">I understand that I am responsible for getting the package through customs and paying any duties or taxes that may apply (Not applicable for Indian Customer).</label>
            </div>
            <div class="shipping_agreement_error"></div> 
            
            

            <button type="submit" name="checkout" class="Cart__Checkout Button Button--primary Button--full limoniapps-discountninja-block-stop">Checkout →</button>
            <img src="//cdn.shopify.com/s/files/1/0043/5693/1702/t/8/assets/payment.png" style="margin-top:16px;">
          </div>
        </footer>
      </form></div>
  </div></section>






</div>
<div id="shopify-section-recently-viewed-products" class="shopify-section shopify-section--bordered shopify-section--hidden"></div>
      
      
      
      
    <!--     Moved here by ST Team     -->  
    <div id="shopify-section-download-app" class="shopify-section"> <section id="downloadAppSec">
 <div class="Container">
          <p class="section-title">Shopping Simplifed</p>
          <p class="section-subtitle">Download the app and enjoy stress free shopping</p>
          <div class="sub-section">
              <div class="image-section">
                
                  <img src="//cdn.shopify.com/s/files/1/0058/7779/2832/files/appmobile1_bb588c96-5fd7-4243-a06a-02a5f85151f7.png?v=1593161413" alt="Pocket-friendly shopping">
                
                
                  <img src="//cdn.shopify.com/s/files/1/0058/7779/2832/files/appmobile2.png?v=1587893391" alt="Pocket-friendly shopping">
                
              </div>
              <div class="deals-section">
                  
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">Pocket-friendly shopping. Literally!</p>
                 
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">Fast and user-friendly interface</p>
                 
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">Easy browsing, with a swipe-through catalogue</p>
                 
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">Pinch, tap, zoom or scroll for convenient shopping</p>
                 
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">Personalised Experience</p>
                 
                 <p><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/t/19/assets/jc-verification-icon.png?v=6260823778340994036" alt="Pocket-friendly shopping">100% Safe &amp; Secure Payment</p>
                
                  <div class="d-flex">
                    
                      <a href="https://apps.apple.com/in/app/juicy-chemistry/id1469402395"><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/files/jc-appstore-icon.png?v=1585950100" alt="Pocket-friendly shopping"></a>
                    
                    
                         <a href="https://play.google.com/store/apps/details?id=com.juicychemistry&amp;hl=en"><img src="//cdn.shopify.com/s/files/1/0058/7779/2832/files/jc-google-play-icon.png?v=1585950115" alt="Pocket-friendly shopping"></a>
                        
                </div>
              </div>
          </div>
 </div>
</section>



</div>
    
    <div id="shopify-section-newsletter" class="shopify-section"><section id="section-newsletter"><div class="FlexboxIeFix">
  <div class="ImageHero ImageHero--small ImageHero--newsletter">
    <div class="ImageHero__ImageWrapper">
      <div class="ImageHero__Image Image--lazyLoad Image--zoomOut" data-optimumx="1.4" data-expand="-150" data-bgset="//cdn.shopify.com/s/files/1/0058/7779/2832/files/newsletter1_750x500_crop_center.png?v=1587890574 750w, //cdn.shopify.com/s/files/1/0058/7779/2832/files/newsletter1_1000x.png?v=1587890574 1000w, //cdn.shopify.com/s/files/1/0058/7779/2832/files/newsletter1_1500x.png?v=1587890574 1500w">
      </div>

      <noscript>
        <div class="ImageHero__Image" style="background: url(//cdn.shopify.com/s/files/1/0058/7779/2832/files/newsletter1_1000x.png?v=1587890574)"></div>
      </noscript>

    </div>

    <div class="ImageHero__ContentOverlay">
      <header class="SectionHeader SectionHeader--center"><h2 class="SectionHeader__Heading Heading u-h1">SIGNUP TO GET UPDATES ON LATEST OFFERS &amp; PRODUCT LAUNCHES</h2></header><form method="post" action="/contact#footer-newsletter" id="footer-newsletter" accept-charset="UTF-8" class="Newsletter Form"><input type="hidden" name="form_type" value="customer"><input type="hidden" name="utf8" value="✓"><div class="Newsletter__Inner">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <input type="email" name="contact[email]" class="Form__Input" aria-label="Get in touch @juicy_chemistry" placeholder="" required="">
          </div>
        <button type="submit" class="Form__Submit Button Button--primary">SEND</button></form></div>
  </div>
</div>
</section>


<div style="clear:both"></div></div>
    
  
    
    </main>