<header>
    <div class="header-top">
        
        
        <div class="jc-logo bg-image">
          <a href="index.html"><img class="jc-logo" src="../cdn.shopify.com/s/files/1/0058/7779/2832/files/Juicy_Chemistry_Logo_8498b074-7cad-44ec-8382-b1d30ab95bc7f294.png?v=1593161535" alt="Juicy Chemistry"></a>
        </div>
        <div class="right-content">
          
            <div class="desktop-show">
                 
              <div class="search-form hidden-phone">
        <form action="https://juicychemistry.com/search" name="GET" role="search" class="">
            <div class="input-group">
                <input class="disable-enter-search" type="search" name="st" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search">
                <div class="input-group-append"><button type="submit" class="icon-search"></button></div>
            </div>
        </form>
    </div>
                
               
          </div>
            <div class="mobile-show header-bottom--right-content">
                 
              <div class="Search__SearchBar hidden-tablet-and-up">
                  <button id="st-search-bar" class="Header__Icon Icon-Wrapper Icon-Wrapper--clickable" data-action="toggle-search" aria-label="Search">
                    <span class=""><svg class="Icon Icon--search" role="presentation" viewBox="0 0 18 17">
<g transform="translate(1 1)" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
<path d="M16 16l-5.0752-5.0752"></path>
<circle cx="6.4" cy="6.4" r="6.4"></circle>
</g>
</svg></span>
                  </button>
                 </div>
              <div class="search-form hidden-phone">
                <form action="https://juicychemistry.com/search" name="GET" role="search" class="">
                    <div class="input-group">
                        <input class="hidden-phone disable-enter-search" type="search" name="st" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search">
                        <div class="input-group-append hidden-phone">
                          <button data-action="toggle-search" type="submit" class="icon-search"></button>
                      </div>
                    </div>
                </form>
              </div>
              <a class="hidden-tablet" href="cart.html" data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="Open cart">
                  <span class="cart-icon">
                  <span class="Header__CartCount">0</span></span></a>
          </div>
        </div>
    </div>
    <ul class="main-navigation">
      
        <li ><a class="dropdown-toggle" href="collections/best-organic-face-care-products.html">Face</a>
            
                  <ul>
                      
                        <li ><a  href= "collections/cleansers.html">Cleansers</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/toners.html">Toners</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/face-moisturisers.html">Moisturisers</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/sunscreen.html">Sun Screen</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/facial-oils.html">Facial Oils</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/eye-care.html">Eye Care</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/lip-care.html">Lip Care</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/scrubs.html">Scrubs</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/masks.html">Face Masks</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/powder.html">Dusting Powder</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/makeup-cleanser.html">Makeup Cleansers</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a class="dropdown-toggle" href="collections/body-care.html">Body</a>
            
                  <ul>
                      
                        <li ><a  href= "collections/bath-salts.html">HAND & FOOT CARE</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/gourmet-soaps.html">Gourmet Soaps</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/body-moisturisers.html">Body Moisturisers</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/bath-body-oils-1.html">Bath & Body Oils</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/deodorant.html">Deodorants</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/body-scrubs.html">Body Scrubs</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/powder.html">Dusting Powders</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a class="dropdown-toggle" href="collections/hair-care.html">Hair</a>
            
                  <ul>
                      
                        <li ><a  href= "collections/oils.html">Oils</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/masque.html">Masque</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/shampoos.html">Shampoos</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/dry-shampoo.html">Dry Shampoo</a>
                               
                        </li>
                      
                        <li ><a  href= "products/camellia-amla-apricot-organic-leave-in-conditioner.html">Conditioner</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a class="dropdown-toggle" href="collections/best-certified-organic-aromatherapy.html">Aromatherapy</a>
            
                  <ul>
                      
                        <li ><a  href= "collections/cold-pressed-oils.html">Cold Pressed Oils</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/essential-oils.html">Essential Oils</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/incense-sticks.html">Incense Sticks</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a  href="collections/best-organic-baby-care-products.html">Juniors</a>
             
        </li>
      
        <li ><a class="dropdown-toggle" href="collections/routines.html">Shop By Concern</a>
            
                  <ul>
                      
                        <li ><a  href= "products/oily-skin-type-with-soap.html">OILY SKIN TYPE</a>
                               
                        </li>
                      
                        <li ><a  href= "products/damaged-pigmented-skin-with-soap-1.html">DAMAGED AND PIGMENTED SKIN WITH SOAP</a>
                               
                        </li>
                      
                        <li ><a  href= "products/damaged-pigmented-skin-with-face-wash.html">DAMAGED AND PIGMENTED SKIN WITH FACEWASH</a>
                               
                        </li>
                      
                        <li ><a  href= "products/oily-acne-prone-skin.html">OILY ACNE PRONE SKIN</a>
                               
                        </li>
                      
                        <li ><a  href= "products/black-heads-acne-prone-skin.html">BLACK HEADS & ACNE PRONE SKIN</a>
                               
                        </li>
                      
                        <li ><a  href= "products/dry-mature-skin.html">DRY MATURE SKIN</a>
                               
                        </li>
                      
                        <li ><a  href= "products/normal-and-tanned-skin-type.html">NORMAL AND TANNED SKIN</a>
                               
                        </li>
                      
                        <li ><a  href= "products/anti-ageing.html">ANTI AGEING</a>
                               
                        </li>
                      
                        <li ><a  href= "products/eye-care.html">EYE CARE</a>
                               
                        </li>
                      
                        <li ><a  href= "products/for-dry-frizzy-hair.html">DRY AND FRIZZY HAIR</a>
                               
                        </li>
                      
                        <li ><a  href= "products/for-itchy-scalp-and-dandruff-control-with-shampoo.html">ITCHY SCALP AND DANDRUFF CONTROL WITH SHAMPOO</a>
                               
                        </li>
                      
                        <li ><a  href= "products/for-itchy-scalp-and-dandruff-control.html">ITCHY SCALP AND DANDRUFF CONTROL WITH SHAMPOO BAR</a>
                               
                        </li>
                      
                        <li ><a  href= "products/for-hair-growth.html">HAIR GROWTH</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a  href="pages/all-ingredients.html">Shop by Ingredient</a>
             
        </li>
      
        <li ><a class="dropdown-toggle" href="#">Accessories</a>
            
                  <ul>
                      
                        <li ><a  href= "collections/accessories.html">JC Accessories</a>
                               
                        </li>
                      
                        <li ><a  href= "collections/facial-tools.html">Facial Tools</a>
                               
                        </li>
                    
                  </ul> 
             
        </li>
      
        <li ><a  href="pages/testimonials.html">Testimonials</a>
             
        </li>
      
        <li ><a  href="blogs/skincare-blog.html">Blog</a>
             
        </li>
      
      
    </ul>

    <div class="header-bottom">
          <div class="header-bottom--left-content">
            <div class="desktop-show">
                <a class="page1" href="pages/our-chemistry.html">Our Chemistry</a>
                <a href="pages/discover-organics.html">Discover Organic</a>
            </div>
            <div class="mobile-show right-content">
                <button class="menu-button hidden-phone" aria-expanded="false" data-action="open-drawer" data-drawer-id="sidebar-menu"><span class="menu-icon"></span></button>
                <a href="account/login.html" class="register hidden-phone"><span class="profile-icon"></span></a>
                   <a class="download-app-link hidden-phone" href="https://www.juicychemistry.com/pages/app-download"><span class="icon-mobile bg-image"></span></a>
                <a class="rewards-link hidden-phone" href="account/login.html"><span class="icon-gift bg-image"></span></a>	
              
               </div>
          </div>
          <div class="header-bottom--right-content">
            <a href="https://juicychemistry.myshopify.com/apps/shipway_track" class="track-my-order">Track My Order</a>
                <a href="account/login.html" class="login">Login</a>
               
              <a href="account/register.html" class="login register">Sign up<span class="profile-icon"></span></a>
              
            
              <a href="pages/wishlist.html" class="track-my-order">Wishlist</a>
                <a class="hidden-phone" href="cart.html" data-action="open-drawer" data-drawer-id="sidebar-cart" aria-label="Open cart">
                  <span class="cart-icon">
                  <span class="Header__CartCount">0</span></span></a>
          </div>
      </div>
     <div class="search-box">
         <form action="https://juicychemistry.com/search" name="GET" role="search" class="Search__Form">
             <div class="Search__InputIconWrapper">
                 <span class="hidden-tablet-and-up"><svg class="Icon Icon--search" role="presentation" viewBox="0 0 18 17">
<g transform="translate(1 1)" stroke="currentColor" fill="none" fill-rule="evenodd" stroke-linecap="square">
<path d="M16 16l-5.0752-5.0752"></path>
<circle cx="6.4" cy="6.4" r="6.4"></circle>
</g>
</svg></span>
                 <span class="hidden-phone"><svg class="Icon Icon--search-desktop" role="presentation" viewBox="0 0 21 21">
<g transform="translate(1 1)" stroke="currentColor" stroke-width="2" fill="none" fill-rule="evenodd" stroke-linecap="square">
<path d="M18 18l-5.7096-5.7096"></path>
<circle cx="7.2" cy="7.2" r="7.2"></circle>
</g>
</svg></span>
             </div>

             <input type="search" class="Search__Input Heading disable-enter-search" name="st" autocomplete="off" autocorrect="off" autocapitalize="off" placeholder="Search..." autofocus>
             <input type="hidden" name="type" value="product">
           <div class="close-search"><svg class="Icon Icon--close" role="presentation" viewBox="0 0 16 14">
<path d="M15 0L1 14m14 0L1 0" stroke="currentColor" fill="none" fill-rule="evenodd"></path>
</svg></div>
         </form>
     </div>
      
</header>

